
.Nav-o {
    /* text-align: center; Center the navigation bar */
    /* margin-top: 2rem;  */
    /* background-color: rgb(11, 76, 76); */
    background-color: #09203a;
    
}
.h1{
    font-size: 25px;
}

.NavList {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15rem;
    list-style-type: none; /* Remove bullet points from the list */
    padding: 0; /* Remove default padding */
}

.NavList li {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.NavList li a {
    text-decoration: none;
    color: white;
    position: relative; /* Necessary for the after pseudo-element positioning */
}

.NavList li a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: white;
    transition: width 0.3s ease;
    position: absolute; /* Position the after pseudo-element absolutely within the parent */
    bottom: -5px; /* Position it slightly below the text */
    left: 0;
}
.NavList li a:hover{
    color: greenyellow;
    transition: width 0.5s ease;
}

.NavList li a:hover::after {
    width: 100%;
    background: rgb(217, 239, 77);

}
.tree{
    margin-left: 50px;
}
.img{
    margin-left: 15rem;
    height: 380px;
    width: 400px;
}
.section1{
    display: flex;

    
    justify-content: center;
}
.indefine{
    padding-right: 45px;
    margin-left: 5rem;
}
#h41{
    display: flex;
}
#h41 h4 {
    margin-right: 10rem; /* Optional: Add margin between the elements */
}
#h42{
    display: flex;
}
#h42 h4 {
    margin-right: 13rem; /* Optional: Add margin between the elements */
}
.green{
    color: greenyellow;
}
.p{
    font-size: 20px;
}
#h22{
    margin-left: 15rem;
}
.interests {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
}
.interests {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
}

.interest-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.interest-item {
    background-color: #162132;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.interest-item:hover {
    background-color: #1e2b40;
}

.interest-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.interest-item span {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}


