.Contact1{
    height: 150px;
    width: 30rem;
    padding-top: 25px;
    margin-left: 15rem;
    list-style-type: none;
    background-color: #09203a;
    text-decoration: none;
}
.Contacts{
    display: flex;
}
.Contacts1{
    display: flex
}
.Contact1:hover,.Contact2:hover,.Contact3:hover,.Contact4:hover {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1), 0 6px 20px rgba(135, 206, 235, 0.2);
    transform: scale(1.05); /* Slightly scale up the box */
}
.Contact2{
    height: 150px;
    width: 30rem;
    padding-top: 25px;
    margin-left: 5rem;
    list-style-type: none;
    background-color: #09203a;
    text-decoration: none;
}
#h3{
    color: greenyellow;
    margin-left: 24px;
}
#location{
    height: 30px;
    width: 30px;
    margin-top: 13px;
}
#email,#phone{
    height: 30px;
    width: 30px;
    padding-left: 35px;
    margin-top: 14px;
}
#social{
    height: 30px;
    width: 30px;
    margin-top: 14px;
}
.email,.contact,.Social{
    display: flex;
}
.locate{
    display: flex;
}
.li{
    margin-left: 3.2rem;
}
.lii{
    margin-left: 5.2rem;
}

.Contact3{
    height: 150px;
    width: 32.4rem;
    padding-top: 25px;
    margin-left: 15rem;
    list-style-type: none;
    background-color: #09203a;
    text-decoration: none;
}
.Contact4{
        height: 150px;
        width: 32.4rem;
        padding-top: 25px;
        margin-left: 5rem;
        list-style-type: none;
        background-color: #09203a;
        text-decoration: none;
}
#h4{
    color: greenyellow;
    margin-left: 24px;
}
#liii {
    margin-bottom: 10px; 
}
#contact{
    margin-left: 5.3rem;
}
#git{
    height: 35px;
    width: 40px;
    margin-left: -13rem;
}
#Linked{
    height: 35px;
    width: 40px;
    margin-left: 2rem;
}
#Google{
    height: 35px;
    width: 40px;
    color: white;
    margin-left: 2rem;
}