
.Nav-o {
    /* text-align: center; Center the navigation bar */
    /* margin-top: 2rem;  */
    /* background-color: rgb(11, 76, 76); */
    background-color: #09203a;
    
}
.h1{
    font-size: 25px;
}

.NavList {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15rem;
    list-style-type: none; /* Remove bullet points from the list */
    padding: 0; /* Remove default padding */
}

.NavList li {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.NavList li a {
    text-decoration: none;
    color: white;
    position: relative; /* Necessary for the after pseudo-element positioning */
}

.NavList li a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: white;
    transition: width 0.3s ease;
    position: absolute; /* Position the after pseudo-element absolutely within the parent */
    bottom: -5px; /* Position it slightly below the text */
    left: 0;
}
.NavList li a:hover{
    color: greenyellow;
    transition: width 0.5s ease;
}

.NavList li a:hover::after {
    width: 100%;
    background: rgb(217, 239, 77);

}
.education-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 15rem;
}

.Section {
    background-color: #243547;
    color: white;
    width: 30rem;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-container {
    border-bottom: 2px solid black;
    background-color: white;
    text-align: center;
    padding: 20px;
}

.image-container img {
    height: 150px;
    width: 10rem;
}

.details {
    padding: 15px;
}

.certifications {
    margin: 20px 15rem;
}

.certifications ul {
    padding-left: 20px;
}
/* #h22{

} */
